
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Room Booking Application</title>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    
     <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"> 

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.9.95/css/materialdesignicons.css" rel="stylesheet">
  
    <!--fontawesome link-->
    <script src="https://kit.fontawesome.com/a46955341a.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/136b4fde49.js" crossorigin="anonymous"> </script> 

  </head>
    <body>
      <div class="login-in-page">
          <h1 id ="login-in" hidden="false"> Login in </h1>
          
          <div id="firebase-auth-container"></div>

      </div>
      <div id="login-info" hidden="true">
        <header>
            <button id="sign-out" hidden="true"> Sign out </button>
            
            <h1>Room Management System</h1>
          </header>
          <!--Admin Page Wrapper-->
          <div id="admin-wrapper">
              <!--Left Sidebar-->
              <aside class="left">
                     <ul>
                         <li><a href="/">Home</a></li>
                         <li><a href="/addRoom">Create Room</a></li>
                         <li><a href="/booking">Book Room</a></li>
                         <li><a href="/myRooms">Manage Room</a></li>
                         
                     </ul>
              </aside>
              <!--//left sidebar-->

              <!--main-->
              <main class="main-content">

                <h2>Filter Room</h2>
                <form action="/filterRoom" method="POST">
                    <div id="myBtnContainer">
                        <button class="btn active filter" type="submit" value="all" name="par"> Show all</button>
                        <button class="btn filter" type="submit" value="card" name="par"> Card</button>
                        <button class="btn filter" type="submit" value="key" name="par"> Key</button>
                        <button class="btn filter" type="submit" value="food" name="par"> food service</button>
                        <button class="btn filter" type="submit" value="taxi" name="par"> Taxi Service</button>
                        <button class="btn filter" type="submit" value="date"  id="myBtn" onclick="dateFunction()"> Date</button>
                        
                      </div>
                </form>

                <form action="/date" method="POST">
                    <div id="demo"></div>
                </form>
                
                <div class="container">

                </div>
                
                
               
                  
              </main>
          </div>
      </div>

      <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
      <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
      <script src="{{ url_for('static', filename='app-setup.js') }}"></script>
      <script>
      function dateFunction(){
        document.getElementById("demo").innerHTML = '<div class="message"><h4>Add Date</h4><p>StartDate:</p><input type="date" name="startDate"><br><p>EndDate:</P><input type="date" name="endDate" id="message"><br><input type="submit" class="btn btn-danger" value="Submit"/> </div>';
        event.preventDefault();
      }
      </script>
        
        
    </body>
</html>